@using Microsoft.AspNetCore.Identity
@model Forum.Web.Models.ApplicationUser.ProfileModel

@inject UserManager<Forum.Data.Models.ApplicationUser> UserManager

@{
//var user = UserManager.FindByNameAsync(User.Identity.Name);
//var isAdmin = user.Result.IsAdmin;
}

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading noBorder">
            User Profile
        </div>
        @if (User.IsInRole("Admin"))
        {
            <form method="post" asp-controller="Profile" asp-action="Deactivate" asp-route-id="@Model.UserId">
                <div>
                    <button class="btn btn-danger" active="@Model.IsActive">Deactivate User</button>
                </div>
            </form>
        }
    </div>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <div class="row userProfile">
            <div class="col-md-4">
                <div id="userProfileImage" style="background-image: url(@Model.ProfileImageUrl); background-size:100%;"></div>
                @if (Context.User.Identity.Name == Model.Username)
                {
                    <form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="UploadProfileImage">
                        <div id="upload">
                            <label class="btn btn-default btn-file">
                                Browse <input type="file" name="file" style="display: none;">
                            </label>
                        </div>
                        <button type="submit" id="btn-profile" class="btn btn-default">Submit</button>
                    </form>
                }
            </div>
            <div class="col-md-8">
                <span id="userName">@Model.Username</span> 
                @if (@Model.IsAdmin)
                {
                    <span class="isAdmin">Admin</span>
                }
                <span id="userRating">Current Rating: @Model.UserRating</span>
                <span id="userEmailLabel">Email: @Model.Email</span>
                <span id="userCreatedLabel">Member Since: @Model.DateJoined</span>
                <span id="userActiveLabel">Status: 
                    @if (!@Model.IsActive)
                    {
                        <span class="inactiveUser">Inactive</span>
                    }
                    else
                    {
                        <span>Active</span>
                    }
                </span>
            </div>
        </div>
    }
</div>
