@model Forum.Web.Models.ApplicationUser.ProfileModel

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            User Profile | @Model.Username
        </div>
    </div>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <div class="row userProfile">
            <div class="col-md-4 userProfileImageContainer">
                <div id="userProfileImage" style="background-image: url(@Model.ProfileImageUrl); background-size:100%;"></div>
                @if (Context.User.Identity.Name == Model.Username)
                {
                    <form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="Post">
                        <div id="upload">
                            <label class="btn btn-default btn-file">
                                Browse <input type="file" asp-for="ImageUpload" style="display: none;">
                            </label>
                        </div>
                    </form>
                }
            </div>
            <div class="col-md-8 userProfileData">
                <span id="userName">@Model.Username</span>
                <span id="userRating">Current Rating: @Model.UserRating</span>
                <span id="userEmailLabel">Email: @Model.Email</span>
                <span id="userCreatedLabel">Member Since: @Model.Email</span>
                <span id="userBioLabel">User Bio:</span>
                <div class="userBio">
                    @if(Model.Description == "" || Model.Description == null)
                    {
                        <span>This user hasn't provided any information.</span>
                    }
                    <p>
                        @Model.Description
                    </p>
                </div>
            </div>
        </div>
    }
</div>
