@model Forum.Web.Models.ApplicationUser.ProfileModel

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            User Profile | @Model.Username
        </div>
        @if (Context.User.Identity.IsAuthenticated && Context.User.Identity.Name == Model.Username)
        {
            <span id="headingBtn"><a asp-controller="Profile" asp-action="Edit" asp-route-id="@Model.UserId" class="btn btn-newReply">Edit Profile</a></span>
        }
    </div>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <div class="row userProfile">
            <div class="col-md-4 userProfileImageContainer">
                <div id="userProfileImage" style="background-image: url(@Model.ProfileImageUrl); background-size:100%;"></div>
            </div>
            <div class="col-md-8 userProfileData">
                <span id="userName">Email: @Model.Username</span>
                <span id="userRating">Email: @Model.UserRating</span>
                <span id="userEmailLabel">Email: @Model.Email</span>
                <span id="userCreatedLabel">Member Since: @Model.Email</span>
                <span id="userBioLabel">User Bio:</span>
                <div class="userBio">
                    @Model.Description
                </div>
            </div>
        </div>
    }
</div>
