@model Forum.Web.Models.Forum.ForumIndexModel

<div class="container body-content">
    <h3>Browse Forums</h3>
    <div id="forumIndexContent">
        <table class="table table-hover" id="forumIndexTable">
            <tbody>
                @foreach (var forum in Model.ForumList)
                {
                    <tr>
                        <td>
                            <div class="forumLogo"></div>
                            <div class="forumTitle">
                                @forum.Name
                            </div>
                            <div class="forumSubTitle">
                                Latest Post: <span class="postTitle">@forum.LatestPost.Title</span> by <span class="postUser">@forum.LatestPost.Author</span> on <span class="postDate">@forum.LatestPost.DatePosted</span>
                            </div>
                        </td>
                        <td>
                            <div class="forumPostCount">
                                @forum.NumberOfPosts
                            </div>
                            <div class="forumMemberCount">
                                @forum.NumberOfUsers
                            </div>
                        </td>
                    </tr>
                }

                <tr>
                    <td>
                        <div class="forumLogo"></div>
                        <div class="forumTitle">
                            Angular
                        </div>
                        <div class="forumSubTitle">
                            Latest Post: <span class="postTitle">How to use event emitters</span> by <span class="postUser">Aditya</span> on <span class="postDate">09-27-2017</span>
                        </div>
                    </td>
                    <td>
                        <div class="forumPostCount">
                            143 Posts
                        </div>
                        <div class="forumMemberCount">
                            12 Active Members
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
