@model Forum.Web.Models.Forum.ForumIndexModel

<div class="container body-content">
    <div class="row" id="forumHeader">
        <div class="forumHeading">Browse Forums</div>
        <div id="forumDisclaimer">
            <p>Welcome to <strong>Lambda Forums community</strong>. Posts are broadly categorized into separate forums by programming language or area of interest.</p>
            <p>Please read the Forum Guidelines before creating a new post. You must be a registered member to create a new post.</p>
        </div>
    </div>
    <div class="row" id="forumIndexContent">
        <table class="table table-hover" id="forumIndexTable">
            <tbody>
                @foreach (var forum in Model.ForumList)
                {
                    <tr>
                        <td>
                            <div class="forumLogo" style="background-image: url(@forum.ImageUrl); background-size:100%"></div>
                            <div class="forumData">
                                <div class="forumTitle">
                                    @forum.Name
                                </div>
                                <div class="forumSubTitle">
                                    @if (forum.LatestPost.Author != "")
                                    {
                                        <div>Latest Post: <span class="postTitle">@forum.LatestPost.Title</span> by <span class="postUser">@forum.LatestPost.Author</span> on <span class="postDate">@forum.LatestPost.DatePosted</span></div>
                                    }

                                    else
                                    {
                                        <span>No posts yet!</span>
                                    }
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="forumPostCount">
                                @forum.NumberOfPosts Posts
                            </div>
                            <div class="forumMemberCount">
                                @forum.NumberOfUsers Users
                            </div>
                        </td>
                        <td>
                            <div class="forumDescription">
                                @forum.Description
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
