@model Forum.Web.Models.Forum.ForumListingModel

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">@Model.Name Forum</div>
        <div class="sectionDescription">
        <div class="forumLogo" style="background-image: url(@Model.ImageUrl); background-size:100%"></div>
            <p>Welcome to the <strong>@Model.Name</strong> forum. Please keep posts friendly and on-topic.</p>
            <p>
                Please read the Forum Guidelines before creating a new post.
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <span>You must be a <a asp-controller="Account" asp-action="Register">registered member</a> to create a new post.</span>
                }
            </p>
        </div>
    </div>
    <div class="row" id="forumIndexContent">
        @if (Model.AllPosts.Any())
        {
            <table class="table table-hover" id="forumIndexTable">
                <tbody>
                    @foreach (var post in Model.AllPosts)
                {
                        <tr>
                            <td>
                                <div class="forumData">
                                    <div class="forumTitle">
                                        <a asp-controller="Forum" asp-action="Topic" asp-route-id="@post.Id">@post.Title</a>
                                    </div>
                                    <div class="forumSubTitle">
                                        <div><span class="postTitle">@post.Author</span> on <span class="postDate">@post.DatePosted</span></div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="forumPostCount">
                                    @post.RepliesCount
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="noPosts">
                <i class="material-icons md-72">question_answer</i>
                <h3>Looks like there are no @Model.Name posts yet. <br />
                Why not <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Id"><span>Create One?</span></a></h3>
            </div>
        }
    </div>
</div>