@model Forum.Web.Models.Post.PostIndexModel

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            <span class="postIndexTitle">
                @Model.Title
            </span>
        </div>
    </div>
    <div class="row" id="postIndexContent">
        <div class="col-md-3 postAuthorContainer">
            <a asp-controller="Profile" asp-action="Detail" asp-route-id="@Model.AuthorId">
                <strong>@Model.AuthorName</strong>
            </a> (<span class="postAuthorRating">@Model.AuthorRating</span>) <br />
            <span class="postDate">@Model.Date</span>
        </div>
        <div class="col-md-9 postContentContainer">
            <div class="postContent">
                @Model.PostContent
            </div>
        </div>
    </div>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <div class="row" id="replyRow">
            <span><a asp-controller="Reply" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-newReply">Post Reply</a></span>
        </div>
    }
    <div class="row">
        @if (Model.Replies.Any())
        {
            <p>Replies here</p>
        }
        else
        {
            <div class="noPosts">
                <h3>
                    There are no replies to this post.<br />
                </h3>
            </div>
        }
    </div>
</div>
