@model Forum.Web.Models.Home.HomeIndexModel

<div class="container body-content">
    <div class="row frontPageTopContainer">
        <p id="welcomeMessage">Welcome to Lambda Forums</p>
        <p id="welcomeSub">Software development discussion forums</p>
    </div>
    <div class="row sectionInfo">
        <div class="col-md-6 frontPageLearn">
            <div class="frontPageHeading">Learn, Collaborate, Share Knowledge</div>
            <p class="frontPageSubHeading">Lambda Forums is the world's fastest growing coding forum.</p>
        </div>
        <div class="col-md-6 frontPageImage">
        </div>
    </div>
    <div class="row frontPageContent">
        <h3 id="latestPosts">Latest Posts</h3>
        <table class="table table-hover" id="latestPostsTable">
            <tbody>
                @foreach (var post in Model.LatestPosts)
                {
                    <tr>
                        <td>
                            <div class="forumLogo" style="background-image: url(@post.ForumImageUrl); background-size:100%"></div>
                            <div class="postTitle">
                                @post.Title
                            </div>
                            <div class="postSubTitle">
                                <span class="postUser"><a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId">@post.Author</a></span> (@post.AuthorRating) in <span class="postForum">@post.ForumName</span> on <span class="postDate">@post.DatePosted</span>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>